<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.itrip.dao.ItripOrderLinkUserMapper" >
  <resultMap id="BaseResultMap" type="cn.itrip.pojo.ItripOrderLinkUser" >
    <id column="id" property="id" jdbcType="DECIMAL" />
    <result column="orderId" property="orderid" jdbcType="DECIMAL" />
    <result column="linkUserId" property="linkuserid" jdbcType="DECIMAL" />
    <result column="linkUserName" property="linkusername" jdbcType="OTHER" />
    <result column="creationDate" property="creationdate" jdbcType="TIMESTAMP" />
    <result column="createdBy" property="createdby" jdbcType="DECIMAL" />
    <result column="modifyDate" property="modifydate" jdbcType="TIMESTAMP" />
    <result column="modifiedBy" property="modifiedby" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="Base_Column_List" >
    "id", "orderId", "linkUserId", "linkUserName", "creationDate", "createdBy", "modifyDate", 
    "modifiedBy"
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.math.BigDecimal" >
    select 
    <include refid="Base_Column_List" />
    from "itrip_order_link_user"
    where "id" = #{id,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.math.BigDecimal" >
    delete from "itrip_order_link_user"
    where "id" = #{id,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="cn.itrip.pojo.ItripOrderLinkUser" >
    insert into "itrip_order_link_user" ("id", "orderId", "linkUserId", 
      "linkUserName", "creationDate", 
      "createdBy", "modifyDate", 
      "modifiedBy")
    values (#{record.id,jdbcType=DECIMAL}, #{record.orderid,jdbcType=DECIMAL}, #{record.linkuserid,jdbcType=DECIMAL}, 
      #{record.linkusername,jdbcType=OTHER}, #{record.creationdate,jdbcType=TIMESTAMP}, 
      #{record.createdby,jdbcType=DECIMAL}, #{record.modifydate,jdbcType=TIMESTAMP}, 
      #{record.modifiedby,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="cn.itrip.pojo.ItripOrderLinkUser" >
    insert into "itrip_order_link_user"
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="record.id != null" >
        "id",
      </if>
      <if test="record.orderid != null" >
        "orderId",
      </if>
      <if test="record.linkuserid != null" >
        "linkUserId",
      </if>
      <if test="record.linkusername != null" >
        "linkUserName",
      </if>
      <if test="record.creationdate != null" >
        "creationDate",
      </if>
      <if test="record.createdby != null" >
        "createdBy",
      </if>
      <if test="record.modifydate != null" >
        "modifyDate",
      </if>
      <if test="record.modifiedby != null" >
        "modifiedBy",
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="record.id != null" >
        #{record.id,jdbcType=DECIMAL},
      </if>
      <if test="record.orderid != null" >
        #{record.orderid,jdbcType=DECIMAL},
      </if>
      <if test="record.linkuserid != null" >
        #{record.linkuserid,jdbcType=DECIMAL},
      </if>
      <if test="record.linkusername != null" >
        #{record.linkusername,jdbcType=OTHER},
      </if>
      <if test="record.creationdate != null" >
        #{record.creationdate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createdby != null" >
        #{record.createdby,jdbcType=DECIMAL},
      </if>
      <if test="record.modifydate != null" >
        #{record.modifydate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.modifiedby != null" >
        #{record.modifiedby,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.itrip.pojo.ItripOrderLinkUser" >
    update "itrip_order_link_user"
    <set >
      <if test="record.orderid != null" >
        "orderId" = #{record.orderid,jdbcType=DECIMAL},
      </if>
      <if test="record.linkuserid != null" >
        "linkUserId" = #{record.linkuserid,jdbcType=DECIMAL},
      </if>
      <if test="record.linkusername != null" >
        "linkUserName" = #{record.linkusername,jdbcType=OTHER},
      </if>
      <if test="record.creationdate != null" >
        "creationDate" = #{record.creationdate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createdby != null" >
        "createdBy" = #{record.createdby,jdbcType=DECIMAL},
      </if>
      <if test="record.modifydate != null" >
        "modifyDate" = #{record.modifydate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.modifiedby != null" >
        "modifiedBy" = #{record.modifiedby,jdbcType=DECIMAL},
      </if>
    </set>
    where "id" = #{record.id,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.itrip.pojo.ItripOrderLinkUser" >
    update "itrip_order_link_user"
    set "orderId" = #{record.orderid,jdbcType=DECIMAL},
      "linkUserId" = #{record.linkuserid,jdbcType=DECIMAL},
      "linkUserName" = #{record.linkusername,jdbcType=OTHER},
      "creationDate" = #{record.creationdate,jdbcType=TIMESTAMP},
      "createdBy" = #{record.createdby,jdbcType=DECIMAL},
      "modifyDate" = #{record.modifydate,jdbcType=TIMESTAMP},
      "modifiedBy" = #{record.modifiedby,jdbcType=DECIMAL}
    where "id" = #{record.id,jdbcType=DECIMAL}
  </update>
</mapper>