<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.itrip.dao.ItripHotelOrderMapper" >
  <resultMap id="BaseResultMap" type="cn.itrip.pojo.ItripHotelOrder" >
    <id column="id" property="id" jdbcType="DECIMAL" />
    <result column="userId" property="userid" jdbcType="DECIMAL" />
    <result column="orderType" property="ordertype" jdbcType="DECIMAL" />
    <result column="orderNo" property="orderno" jdbcType="OTHER" />
    <result column="tradeNo" property="tradeno" jdbcType="OTHER" />
    <result column="hotelId" property="hotelid" jdbcType="DECIMAL" />
    <result column="hotelName" property="hotelname" jdbcType="OTHER" />
    <result column="roomId" property="roomid" jdbcType="DECIMAL" />
    <result column="count" property="count" jdbcType="DECIMAL" />
    <result column="bookingDays" property="bookingdays" jdbcType="DECIMAL" />
    <result column="checkInDate" property="checkindate" jdbcType="TIMESTAMP" />
    <result column="checkOutDate" property="checkoutdate" jdbcType="TIMESTAMP" />
    <result column="orderStatus" property="orderstatus" jdbcType="DECIMAL" />
    <result column="payAmount" property="payamount" jdbcType="DECIMAL" />
    <result column="payType" property="paytype" jdbcType="DECIMAL" />
    <result column="noticePhone" property="noticephone" jdbcType="OTHER" />
    <result column="noticeEmail" property="noticeemail" jdbcType="OTHER" />
    <result column="specialRequirement" property="specialrequirement" jdbcType="OTHER" />
    <result column="isNeedInvoice" property="isneedinvoice" jdbcType="DECIMAL" />
    <result column="invoiceType" property="invoicetype" jdbcType="DECIMAL" />
    <result column="invoiceHead" property="invoicehead" jdbcType="OTHER" />
    <result column="linkUserName" property="linkusername" jdbcType="OTHER" />
    <result column="bookType" property="booktype" jdbcType="DECIMAL" />
    <result column="creationDate" property="creationdate" jdbcType="TIMESTAMP" />
    <result column="createdBy" property="createdby" jdbcType="DECIMAL" />
    <result column="modifyDate" property="modifydate" jdbcType="TIMESTAMP" />
    <result column="modifiedBy" property="modifiedby" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="Base_Column_List" >
    "id", "userId", "orderType", "orderNo", "tradeNo", "hotelId", "hotelName", "roomId", 
    "count", "bookingDays", "checkInDate", "checkOutDate", "orderStatus", "payAmount", 
    "payType", "noticePhone", "noticeEmail", "specialRequirement", "isNeedInvoice", "invoiceType", 
    "invoiceHead", "linkUserName", "bookType", "creationDate", "createdBy", "modifyDate", 
    "modifiedBy"
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.math.BigDecimal" >
    select 
    <include refid="Base_Column_List" />
    from "itrip_hotel_order"
    where "id" = #{id,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.math.BigDecimal" >
    delete from "itrip_hotel_order"
    where "id" = #{id,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="cn.itrip.pojo.ItripHotelOrder" >
    insert into "itrip_hotel_order" ("id", "userId", "orderType", 
      "orderNo", "tradeNo", "hotelId", 
      "hotelName", "roomId", "count", 
      "bookingDays", "checkInDate", 
      "checkOutDate", "orderStatus", 
      "payAmount", "payType", "noticePhone", 
      "noticeEmail", "specialRequirement", 
      "isNeedInvoice", "invoiceType", 
      "invoiceHead", "linkUserName", "bookType", 
      "creationDate", "createdBy", 
      "modifyDate", "modifiedBy")
    values (#{record.id,jdbcType=DECIMAL}, #{record.userid,jdbcType=DECIMAL}, #{record.ordertype,jdbcType=DECIMAL}, 
      #{record.orderno,jdbcType=OTHER}, #{record.tradeno,jdbcType=OTHER}, #{record.hotelid,jdbcType=DECIMAL}, 
      #{record.hotelname,jdbcType=OTHER}, #{record.roomid,jdbcType=DECIMAL}, #{record.count,jdbcType=DECIMAL}, 
      #{record.bookingdays,jdbcType=DECIMAL}, #{record.checkindate,jdbcType=TIMESTAMP}, 
      #{record.checkoutdate,jdbcType=TIMESTAMP}, #{record.orderstatus,jdbcType=DECIMAL}, 
      #{record.payamount,jdbcType=DECIMAL}, #{record.paytype,jdbcType=DECIMAL}, #{record.noticephone,jdbcType=OTHER}, 
      #{record.noticeemail,jdbcType=OTHER}, #{record.specialrequirement,jdbcType=OTHER}, 
      #{record.isneedinvoice,jdbcType=DECIMAL}, #{record.invoicetype,jdbcType=DECIMAL}, 
      #{record.invoicehead,jdbcType=OTHER}, #{record.linkusername,jdbcType=OTHER}, #{record.booktype,jdbcType=DECIMAL}, 
      #{record.creationdate,jdbcType=TIMESTAMP}, #{record.createdby,jdbcType=DECIMAL}, 
      #{record.modifydate,jdbcType=TIMESTAMP}, #{record.modifiedby,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="cn.itrip.pojo.ItripHotelOrder" >
    insert into "itrip_hotel_order"
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="record.id != null" >
        "id",
      </if>
      <if test="record.userid != null" >
        "userId",
      </if>
      <if test="record.ordertype != null" >
        "orderType",
      </if>
      <if test="record.orderno != null" >
        "orderNo",
      </if>
      <if test="record.tradeno != null" >
        "tradeNo",
      </if>
      <if test="record.hotelid != null" >
        "hotelId",
      </if>
      <if test="record.hotelname != null" >
        "hotelName",
      </if>
      <if test="record.roomid != null" >
        "roomId",
      </if>
      <if test="record.count != null" >
        "count",
      </if>
      <if test="record.bookingdays != null" >
        "bookingDays",
      </if>
      <if test="record.checkindate != null" >
        "checkInDate",
      </if>
      <if test="record.checkoutdate != null" >
        "checkOutDate",
      </if>
      <if test="record.orderstatus != null" >
        "orderStatus",
      </if>
      <if test="record.payamount != null" >
        "payAmount",
      </if>
      <if test="record.paytype != null" >
        "payType",
      </if>
      <if test="record.noticephone != null" >
        "noticePhone",
      </if>
      <if test="record.noticeemail != null" >
        "noticeEmail",
      </if>
      <if test="record.specialrequirement != null" >
        "specialRequirement",
      </if>
      <if test="record.isneedinvoice != null" >
        "isNeedInvoice",
      </if>
      <if test="record.invoicetype != null" >
        "invoiceType",
      </if>
      <if test="record.invoicehead != null" >
        "invoiceHead",
      </if>
      <if test="record.linkusername != null" >
        "linkUserName",
      </if>
      <if test="record.booktype != null" >
        "bookType",
      </if>
      <if test="record.creationdate != null" >
        "creationDate",
      </if>
      <if test="record.createdby != null" >
        "createdBy",
      </if>
      <if test="record.modifydate != null" >
        "modifyDate",
      </if>
      <if test="record.modifiedby != null" >
        "modifiedBy",
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="record.id != null" >
        #{record.id,jdbcType=DECIMAL},
      </if>
      <if test="record.userid != null" >
        #{record.userid,jdbcType=DECIMAL},
      </if>
      <if test="record.ordertype != null" >
        #{record.ordertype,jdbcType=DECIMAL},
      </if>
      <if test="record.orderno != null" >
        #{record.orderno,jdbcType=OTHER},
      </if>
      <if test="record.tradeno != null" >
        #{record.tradeno,jdbcType=OTHER},
      </if>
      <if test="record.hotelid != null" >
        #{record.hotelid,jdbcType=DECIMAL},
      </if>
      <if test="record.hotelname != null" >
        #{record.hotelname,jdbcType=OTHER},
      </if>
      <if test="record.roomid != null" >
        #{record.roomid,jdbcType=DECIMAL},
      </if>
      <if test="record.count != null" >
        #{record.count,jdbcType=DECIMAL},
      </if>
      <if test="record.bookingdays != null" >
        #{record.bookingdays,jdbcType=DECIMAL},
      </if>
      <if test="record.checkindate != null" >
        #{record.checkindate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.checkoutdate != null" >
        #{record.checkoutdate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.orderstatus != null" >
        #{record.orderstatus,jdbcType=DECIMAL},
      </if>
      <if test="record.payamount != null" >
        #{record.payamount,jdbcType=DECIMAL},
      </if>
      <if test="record.paytype != null" >
        #{record.paytype,jdbcType=DECIMAL},
      </if>
      <if test="record.noticephone != null" >
        #{record.noticephone,jdbcType=OTHER},
      </if>
      <if test="record.noticeemail != null" >
        #{record.noticeemail,jdbcType=OTHER},
      </if>
      <if test="record.specialrequirement != null" >
        #{record.specialrequirement,jdbcType=OTHER},
      </if>
      <if test="record.isneedinvoice != null" >
        #{record.isneedinvoice,jdbcType=DECIMAL},
      </if>
      <if test="record.invoicetype != null" >
        #{record.invoicetype,jdbcType=DECIMAL},
      </if>
      <if test="record.invoicehead != null" >
        #{record.invoicehead,jdbcType=OTHER},
      </if>
      <if test="record.linkusername != null" >
        #{record.linkusername,jdbcType=OTHER},
      </if>
      <if test="record.booktype != null" >
        #{record.booktype,jdbcType=DECIMAL},
      </if>
      <if test="record.creationdate != null" >
        #{record.creationdate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createdby != null" >
        #{record.createdby,jdbcType=DECIMAL},
      </if>
      <if test="record.modifydate != null" >
        #{record.modifydate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.modifiedby != null" >
        #{record.modifiedby,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.itrip.pojo.ItripHotelOrder" >
    update "itrip_hotel_order"
    <set >
      <if test="record.userid != null" >
        "userId" = #{record.userid,jdbcType=DECIMAL},
      </if>
      <if test="record.ordertype != null" >
        "orderType" = #{record.ordertype,jdbcType=DECIMAL},
      </if>
      <if test="record.orderno != null" >
        "orderNo" = #{record.orderno,jdbcType=OTHER},
      </if>
      <if test="record.tradeno != null" >
        "tradeNo" = #{record.tradeno,jdbcType=OTHER},
      </if>
      <if test="record.hotelid != null" >
        "hotelId" = #{record.hotelid,jdbcType=DECIMAL},
      </if>
      <if test="record.hotelname != null" >
        "hotelName" = #{record.hotelname,jdbcType=OTHER},
      </if>
      <if test="record.roomid != null" >
        "roomId" = #{record.roomid,jdbcType=DECIMAL},
      </if>
      <if test="record.count != null" >
        "count" = #{record.count,jdbcType=DECIMAL},
      </if>
      <if test="record.bookingdays != null" >
        "bookingDays" = #{record.bookingdays,jdbcType=DECIMAL},
      </if>
      <if test="record.checkindate != null" >
        "checkInDate" = #{record.checkindate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.checkoutdate != null" >
        "checkOutDate" = #{record.checkoutdate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.orderstatus != null" >
        "orderStatus" = #{record.orderstatus,jdbcType=DECIMAL},
      </if>
      <if test="record.payamount != null" >
        "payAmount" = #{record.payamount,jdbcType=DECIMAL},
      </if>
      <if test="record.paytype != null" >
        "payType" = #{record.paytype,jdbcType=DECIMAL},
      </if>
      <if test="record.noticephone != null" >
        "noticePhone" = #{record.noticephone,jdbcType=OTHER},
      </if>
      <if test="record.noticeemail != null" >
        "noticeEmail" = #{record.noticeemail,jdbcType=OTHER},
      </if>
      <if test="record.specialrequirement != null" >
        "specialRequirement" = #{record.specialrequirement,jdbcType=OTHER},
      </if>
      <if test="record.isneedinvoice != null" >
        "isNeedInvoice" = #{record.isneedinvoice,jdbcType=DECIMAL},
      </if>
      <if test="record.invoicetype != null" >
        "invoiceType" = #{record.invoicetype,jdbcType=DECIMAL},
      </if>
      <if test="record.invoicehead != null" >
        "invoiceHead" = #{record.invoicehead,jdbcType=OTHER},
      </if>
      <if test="record.linkusername != null" >
        "linkUserName" = #{record.linkusername,jdbcType=OTHER},
      </if>
      <if test="record.booktype != null" >
        "bookType" = #{record.booktype,jdbcType=DECIMAL},
      </if>
      <if test="record.creationdate != null" >
        "creationDate" = #{record.creationdate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createdby != null" >
        "createdBy" = #{record.createdby,jdbcType=DECIMAL},
      </if>
      <if test="record.modifydate != null" >
        "modifyDate" = #{record.modifydate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.modifiedby != null" >
        "modifiedBy" = #{record.modifiedby,jdbcType=DECIMAL},
      </if>
    </set>
    where "id" = #{record.id,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.itrip.pojo.ItripHotelOrder" >
    update "itrip_hotel_order"
    set "userId" = #{record.userid,jdbcType=DECIMAL},
      "orderType" = #{record.ordertype,jdbcType=DECIMAL},
      "orderNo" = #{record.orderno,jdbcType=OTHER},
      "tradeNo" = #{record.tradeno,jdbcType=OTHER},
      "hotelId" = #{record.hotelid,jdbcType=DECIMAL},
      "hotelName" = #{record.hotelname,jdbcType=OTHER},
      "roomId" = #{record.roomid,jdbcType=DECIMAL},
      "count" = #{record.count,jdbcType=DECIMAL},
      "bookingDays" = #{record.bookingdays,jdbcType=DECIMAL},
      "checkInDate" = #{record.checkindate,jdbcType=TIMESTAMP},
      "checkOutDate" = #{record.checkoutdate,jdbcType=TIMESTAMP},
      "orderStatus" = #{record.orderstatus,jdbcType=DECIMAL},
      "payAmount" = #{record.payamount,jdbcType=DECIMAL},
      "payType" = #{record.paytype,jdbcType=DECIMAL},
      "noticePhone" = #{record.noticephone,jdbcType=OTHER},
      "noticeEmail" = #{record.noticeemail,jdbcType=OTHER},
      "specialRequirement" = #{record.specialrequirement,jdbcType=OTHER},
      "isNeedInvoice" = #{record.isneedinvoice,jdbcType=DECIMAL},
      "invoiceType" = #{record.invoicetype,jdbcType=DECIMAL},
      "invoiceHead" = #{record.invoicehead,jdbcType=OTHER},
      "linkUserName" = #{record.linkusername,jdbcType=OTHER},
      "bookType" = #{record.booktype,jdbcType=DECIMAL},
      "creationDate" = #{record.creationdate,jdbcType=TIMESTAMP},
      "createdBy" = #{record.createdby,jdbcType=DECIMAL},
      "modifyDate" = #{record.modifydate,jdbcType=TIMESTAMP},
      "modifiedBy" = #{record.modifiedby,jdbcType=DECIMAL}
    where "id" = #{record.id,jdbcType=DECIMAL}
  </update>
</mapper>