<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.itrip.dao.ItripImageMapper" >
  <resultMap id="BaseResultMap" type="cn.itrip.pojo.ItripImage" >
    <id column="id" property="id" jdbcType="DECIMAL" />
    <result column="type" property="type" jdbcType="OTHER" />
    <result column="targetId" property="targetid" jdbcType="DECIMAL" />
    <result column="position" property="position" jdbcType="DECIMAL" />
    <result column="imgUrl" property="imgurl" jdbcType="OTHER" />
    <result column="creationDate" property="creationdate" jdbcType="TIMESTAMP" />
    <result column="createdBy" property="createdby" jdbcType="DECIMAL" />
    <result column="modifyDate" property="modifydate" jdbcType="TIMESTAMP" />
    <result column="modifiedBy" property="modifiedby" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="Base_Column_List" >
    "id", "type", "targetId", "position", "imgUrl", "creationDate", "createdBy", "modifyDate", 
    "modifiedBy"
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.math.BigDecimal" >
    select 
    <include refid="Base_Column_List" />
    from "itrip_image"
    where "id" = #{id,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.math.BigDecimal" >
    delete from "itrip_image"
    where "id" = #{id,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="cn.itrip.pojo.ItripImage" >
    insert into "itrip_image" ("id", "type", "targetId", 
      "position", "imgUrl", "creationDate", 
      "createdBy", "modifyDate", 
      "modifiedBy")
    values (#{record.id,jdbcType=DECIMAL}, #{record.type,jdbcType=OTHER}, #{record.targetid,jdbcType=DECIMAL}, 
      #{record.position,jdbcType=DECIMAL}, #{record.imgurl,jdbcType=OTHER}, #{record.creationdate,jdbcType=TIMESTAMP}, 
      #{record.createdby,jdbcType=DECIMAL}, #{record.modifydate,jdbcType=TIMESTAMP}, 
      #{record.modifiedby,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="cn.itrip.pojo.ItripImage" >
    insert into "itrip_image"
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="record.id != null" >
        "id",
      </if>
      <if test="record.type != null" >
        "type",
      </if>
      <if test="record.targetid != null" >
        "targetId",
      </if>
      <if test="record.position != null" >
        "position",
      </if>
      <if test="record.imgurl != null" >
        "imgUrl",
      </if>
      <if test="record.creationdate != null" >
        "creationDate",
      </if>
      <if test="record.createdby != null" >
        "createdBy",
      </if>
      <if test="record.modifydate != null" >
        "modifyDate",
      </if>
      <if test="record.modifiedby != null" >
        "modifiedBy",
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="record.id != null" >
        #{record.id,jdbcType=DECIMAL},
      </if>
      <if test="record.type != null" >
        #{record.type,jdbcType=OTHER},
      </if>
      <if test="record.targetid != null" >
        #{record.targetid,jdbcType=DECIMAL},
      </if>
      <if test="record.position != null" >
        #{record.position,jdbcType=DECIMAL},
      </if>
      <if test="record.imgurl != null" >
        #{record.imgurl,jdbcType=OTHER},
      </if>
      <if test="record.creationdate != null" >
        #{record.creationdate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createdby != null" >
        #{record.createdby,jdbcType=DECIMAL},
      </if>
      <if test="record.modifydate != null" >
        #{record.modifydate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.modifiedby != null" >
        #{record.modifiedby,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.itrip.pojo.ItripImage" >
    update "itrip_image"
    <set >
      <if test="record.type != null" >
        "type" = #{record.type,jdbcType=OTHER},
      </if>
      <if test="record.targetid != null" >
        "targetId" = #{record.targetid,jdbcType=DECIMAL},
      </if>
      <if test="record.position != null" >
        "position" = #{record.position,jdbcType=DECIMAL},
      </if>
      <if test="record.imgurl != null" >
        "imgUrl" = #{record.imgurl,jdbcType=OTHER},
      </if>
      <if test="record.creationdate != null" >
        "creationDate" = #{record.creationdate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createdby != null" >
        "createdBy" = #{record.createdby,jdbcType=DECIMAL},
      </if>
      <if test="record.modifydate != null" >
        "modifyDate" = #{record.modifydate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.modifiedby != null" >
        "modifiedBy" = #{record.modifiedby,jdbcType=DECIMAL},
      </if>
    </set>
    where "id" = #{record.id,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.itrip.pojo.ItripImage" >
    update "itrip_image"
    set "type" = #{record.type,jdbcType=OTHER},
      "targetId" = #{record.targetid,jdbcType=DECIMAL},
      "position" = #{record.position,jdbcType=DECIMAL},
      "imgUrl" = #{record.imgurl,jdbcType=OTHER},
      "creationDate" = #{record.creationdate,jdbcType=TIMESTAMP},
      "createdBy" = #{record.createdby,jdbcType=DECIMAL},
      "modifyDate" = #{record.modifydate,jdbcType=TIMESTAMP},
      "modifiedBy" = #{record.modifiedby,jdbcType=DECIMAL}
    where "id" = #{record.id,jdbcType=DECIMAL}
  </update>
</mapper>